{%extends 'base.html'%}
{% block content %}
<div class="container">
<h1>WELLCOME TO THIS GALLERY!!</h1>

  {% if images %}
    {% for img in images %}
      <div class="col-sm-6 col-md-3">
          <h1>{{img.name}}</h1>
          {% if img.image %}
          <a data-toggle="modal" data-target="#{{img.id}}">
          <img src="{{img.image.url}}" alt="image"></a><hr><hr>

          <div id="{{img.id}}" class="modal fade" role="dialog" >
            <div class="modal-dialog">
          
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h3 style="color:rgb(168, 105, 105);"><em>{{img.category}}</em></h3>
                  <h3 class="modal-name"><strong>{{img.name}}</strong></h3>
                </div>
                <div class="modal-body">
                  <img src="{{img.image.url}}" alt="Image" width='400' length='500'>
                  <p><strong><em>Description:{{img.description}}</em></strong></p><br>
                  <h5><strong>Taken in:</strong>{{img.location}}</h5> <hr><hr>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                </div>
              </div>
          
            </div>
        </div> <br> <br>
          {% else %}
          <div>NO IMAGE</div>
          {% endif %}
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}

